{% load static %}

<footer class="page-footer">
  <div class="container">
    <a class="navbar-brand animated pulse d-block text-center m-0 p-0" href="#">
      <img src="{% static 'img/logo/logo-dark.svg' %}" width="50" height="50" alt="Logo">
    </a>
    <div class="row" >
      <div class="col-md-4 " style="direction: rtl; text-align: right;">
        <h5 class="page-footer-title">ساعات پذیرش مشتری</h5>
        <p class="mb-0">هر روز از ساعت ۸ صبح</p> 
        <p class="mb-0">صبحانه:هر روز از ساعت ۸ تا ۱۱ </p> 
        <p class="mb-0">ناهار: هر روز از ساعت ۱۲ تا ۱۵</p>
        <p>شام: هر روز از ساعت ۱۸ تا ۲۴</p>
      </div>
      <div class="col-md-4 h-100 border-left-custom" style="direction: rtl; text-align: right;" > 
        <h5 class="page-footer-title mt-3 mt-md-0"> آدرس شعبه مرکزی</h5>
        <address>
          نهران خیابان بهشتی<br>
          <abbr title="Phone"> تلفن: </abbr> 0217248597<br>
          <abbr title="Email">ایمیل: </abbr> chainrestaurant@gmail.com
        </address>
      </div>
      <div class="col-md-4 h-100 border-left-custom" style="direction: rtl; text-align: right;" >
        <h5 class="page-footer-title mt-3 mt-md-0">ما را در شبکه های اجتماعی دنبال کنید</h5>
        <div class="mb-3">
          <a class="footer-social" href="#" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
          <a class="footer-social" href="#" aria-label="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a class="footer-social" href="#" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
        </div>
      </div>
    </div>
  </div>
</footer> 