{% load static %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand animated pulse" href="#">
      <img src="{% static 'img/logo/logo-dark.svg' %}" width="30" height="30" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav">
        <li
        {% if '/' == request.path %} 
        class="nav-item active"
        {% else %}
        class="nav-item"
        {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a>
        </li>
        <li class="nav-item">        
          <a class="nav-link" href="#">درباره ما</a>
        </li>
        {% if request.user.is_authenticated and request.user.is_staff and not request.user.is_superuser %}
         <li
         {% if 'personnel-dashboard-self-orders' in request.path %}
          class="nav-item active"
         {% else %}
          class="nav-item"
         {% endif %}
         >
          <a class="nav-link" href="{% url 'personnel-dashboard-self-orders' %}">داشبورد شخصی</a>
        </li>
        {% endif %}
        
      
        {% if request.user.is_authenticated %}
            <li
            {% if 'perssonel-dashboard' in request.path or 'personnel-dashboard-self-orders' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            >
              {% if user.is_superuser %}
                <a class="nav-link" href="{% url 'personnel-dashboard-self-orders' %}">داشبورد</a>
              {% elif user.is_staff%}
                <a class="nav-link" href="{% url 'perssonel-dashboard' %}"> داشبورد خدمات مشتری</a>
              {% else %}
                <a class="nav-link" href="{% url 'customer-dashboard' %}">داشبورد</a>
              {% endif %}
            </li>
            {% if user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                مدیریت
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'personnel-info' %}">اطلاعات پرسنل</a>
                <a class="dropdown-item" href="{% url 'add-personnel' %}">اضافه کردن پرسنل</a>
                <a class="dropdown-item" href="{% url 'delete-personnel' %}">حذف پرسنل</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'register-order-by-manager' %}">ثبت سفارش مشتری</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'view-stores' %}">مشاهده انبار ها</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#AddTableModal">اضافه کردن میز جدید</a>
              </div>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fa fa-sign-out"></i> خروج
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                <input type="hidden">
              </form>
            </li>
        {% else %}
            <li
            {% if 'login' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fa fa-sign-in"></i>  ورود
              </a>
            </li>
            <li
            {% if 'register' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'customer-register' %}">
                <i class="fa fa-user-plus"></i>  ثبت نام
              </a>
            </li>
        {% endif %}
      </ul>
      
      <div class="ml-auto">
        <a class="nav-social mr-2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="nav-social" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="nav-social" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="nav-social" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>

  <!-- Modal for Add Table -->
  <div class="modal fade" id="AddTableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">اضافه کردن میز جدید به شعبه</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-footer mx-auto">
        <form action="{% url 'add-table' %}" method="POST">
            <div class=" form-group">
                <label for="capacity">:ظرفیت میز</label>
                <input type="number" name="capacity" class=" form-control mx-auto" required>
            </div>
            <input type="submit" value="اضافه کردن " class=" btn btn-primary btn-block">
        </form>
        </div>
    </div>
    </div>
  </div>