{% load static %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand animated pulse" href="#">
      <img src="{% static 'img/logo/logo-dark.svg' %}" width="30" height="30" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav">
        <li
        {% if '/' == request.path %} 
        class="nav-item active"
        {% else %}
        class="nav-item"
        {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a>
        </li>
        <li class="nav-item">        
          <a class="nav-link" href="#">درباره ما</a>
        </li>
        {% if request.user.is_authenticated and request.user.is_staff %}
         <li
         {% if 'personnel-dashboard-self-orders' in request.path %}
          class="nav-item active"
         {% else %}
          class="nav-item"
         {% endif %}
         >
          <a class="nav-link" href="{% url 'personnel-dashboard-self-orders' %}">داشبورد سفارش های شما</a>
        </li>
        {% endif %}
        
      
        {% if request.user.is_authenticated %}
            <li
            {% if 'perssonel-dashboard' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            >
              {% if user.is_superuser %}
                <a class="nav-link" href="#">داشبورد</a>
              {% elif user.is_staff%}
                <a class="nav-link" href="{% url 'perssonel-dashboard' %}">داشبورد</a>
              {% else %}
                <a class="nav-link" href="{% url 'customer-dashboard' %}">داشبورد</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fa fa-sign-out"></i> خروج
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                <input type="hidden">
              </form>
            </li>
        {% else %}
            <li
            {% if 'login' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fa fa-sign-in"></i>  ورود
              </a>
            </li>
            <li
            {% if 'register' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'customer-register' %}">
                <i class="fa fa-user-plus"></i>  ثبت نام
              </a>
            </li>
        {% endif %}
      </ul>
      
      <div class="ml-auto">
        <a class="nav-social mr-2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="nav-social" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>