{% extends 'base.html' %}

{% load static %}

{% block content %}


    <main>

      <!-- COVER -->
      <div id="cover" class="cover carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#cover" data-slide-to="0" class="active"></li>
          <li data-target="#cover" data-slide-to="1"></li>
          <li data-target="#cover" data-slide-to="2"></li>
          <li data-target="#cover" data-slide-to="3"></li>
          <li data-target="#cover" data-slide-to="4"></li>
        </ol>
        {% include 'partials/_alerts.html' %}
        <div class="carousel-inner">
          <div class="dark-overlay carousel-item active">
            <img
              sizes="(max-width: 2560px) 100vw, 2560px"
              brooke-lark--F_5g8EEHYE-unsplash.jpg
              src="{% static 'img/carousel/brooke-lark--F_5g8EEHYE-unsplash.jpg' %}"
              alt="First slide">
            <div class="carousel-caption">
              <h1 class="brand-title display-2 animated fadeInDown">Welcome</h1>
           </div>
          </div>
          <div class="dark-overlay carousel-item">
            <img
              sizes="(max-width: 2560px) 100vw, 2560px"
              src="{% static 'img/carousel/album-drinks@4x.jpg' %}"
              alt="Second slide">
            <div class="carousel-caption">
              <h1 class="brand-title display-2 animated fadeInDown">A&M</h1>
            </div>
          </div>
          <div class="dark-overlay carousel-item">
            <img
              sizes="(max-width: 2560px) 100vw, 2560px"
              src="{% static 'img/carousel/album-food@4x.jpg' %}"
              alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="brand-title display-2 animated fadeInDown">A&M</h1>
             </div>
            </div>
          </div>
          <div class="dark-overlay carousel-item">
            <img
              sizes="(max-width: 2560px) 100vw, 2560px"
              src="{% static 'img/carousel/jay-wennington-N_Y88TWmGwA-unsplash.jpg' %}"
              alt="Fourth slide">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="brand-title display-2 animated fadeInDown">A&M</h1>
              </div>
            </div>
          </div>
          <div class="dark-overlay carousel-item">
            <img
              sizes="(max-width: 2560px) 100vw, 2560px"
              src="{% static 'img/carousel/stil-u2Lp8tXIcjw-unsplash.jpg' %}"
              alt="Fourth slide">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="brand-title display-2 animated fadeInDown">A&M</h1>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#cover" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#cover" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    


      {% if branches %}
          <div class="homepage-menu container text-center">
            <div class="row">
              {% for branch in branches %}
              <div class="col-md-3 homepage-drinks">
              <div id="drinks">
                  <img 
                    data-src="{{branch.image.url}}" 
                    alt="Drinks Menu"
                    class="rounded-circle lazyload" style="width: 180px; height: 200px;">
                  <p class="homepage-menu-description font-weight-bold font-italic">
                    {{branch.province}} - {{branch.city}} - خیابان {{branch.street}}
                  </p>
                  <a class="btn btn-outline-dark" href="{% url 'branch' branch.branch_code %}" role="button">مشاهده شعبه </a>
                  <br><br>
                  
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
      {% else %}
          <p>هیچ شعبه ای اضافه نشده است</p>
      {% endif %}

    </main>
    

{% endblock content %}