{% extends 'base.html' %}

{% load static %}

{% block content %}

    <main>


      {% include 'partials/_alerts.html' %}
      <!-- REGISTER FORM -->
      <div class="container-fluid reservations-form dark-overlay">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          src="{% static 'img/personnel_dashboard/mitchell-hollander-Yx-lrVk1ZHY-unsplash.jpg' %}"
          alt=""
          class="reservations-form-bg">
        <form action="{% url 'delete-personnel' %}" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">نام</label>
              <input type="text" class="form-control" name="first_name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputName">نام خانوادگی</label>
              <input type="text" class="form-control" name="last_name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="personnelCode">کدپرسنلی</label>
              <input type="text" class="form-control" id="inputCode" name="personnel_code">
            </div>
          </div>
          <div class="form-group">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-danger btn-block">حذف </button>  
          </div>
        </form>
      </div>
    </main>

{% endblock content %}