{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% load static %}

{% block content %}
    <main>

      <div class="jumbotron desserts-jumbotron dark-overlay text-white">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          src="{% static 'img/personnel_dashboard/mitchell-hollander-Yx-lrVk1ZHY-unsplash.jpg' %}"
          alt=""
          class="desserts-jumbotron-bg">
        <div class="desserts-jumbotron-caption container">
          <h1 id="title-1" class="special-title-2">A&M</h1>
        </div>
      </div>

      <div class="desserts-descriptions container">
        <div id="cakes" class="dessert-category">
          <h2 class="banner">پرسنل</h2>
          <h6 class="font-weight-bold">فیلتر بر اساس </h6>
          
          <a href="javascript:{document.getElementById('filter-by-salary-asc').submit()}" class=" btn btn-primary">دستمزد(صعودی)</a>
            <form action="{% url 'personnel-info' %}" method="GET" id="filter-by-salary-asc">
              <input type="hidden" name="salary-filter" value="asc">
            </form>
          
          <a href="javascript:{document.getElementById('filter-by-salary-desc').submit()}" class=" btn btn-primary">دستمزد(نزولی)</a>
            <form action="{% url 'personnel-info' %}" method="GET" id="filter-by-salary-desc">
              <input type="hidden" name="salary-filter" value="desc">
            </form>

            
          {% if personnels %}
            {% for personnel in personnels %}
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 dessert-image">
                  <img
                  
                    data-src="{% static 'img/personnel_dashboard/default_profile_pic/default-user-image-250px.png' %}"
                    
                    alt="pro"
                    class="rounded-circle lazyload" style="width: 100%;height: 250;">
                </div>
                <div class="col-md-9" style="text-align: right;">

                  <span class="dessert-ingredients font-weight-bold" style="text-align: right; direction: rtl;"> نام :     </span>
                  <span class="dessert-ingredients" style="text-align: right; direction: rtl;">    {{personnel.user.first_name}}    </span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;">نام خانوادگی : </span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.user.last_name}} </span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;"> ایمیل :</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.user.email}} </span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;"> کد پرسنلی :</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.personnel_code}} </span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;"> حقوق :</span>
                  <span class="dessert-ingredients" style="text-align: right;"> {{personnel.salary | intcomma}} تومان</span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;"> تاریخ تولد :</span>
                  <span class="dessert-ingredients" style="text-align: right;"> {{personnel.birth_date}}</span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;"> سرپرست :</span>
                  <span class="dessert-ingredients" style="text-align: right;"> {{personnel.supervisor.user.first_name}} {{personnel.supervisor.user.last_name}}</span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;"> آخرین سرویس دهی :</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.last_service}} </span>
                  <br>
                  <span class="dessert-ingredients font-weight-bold" style="text-align: right;">آدرس :</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.province}}</span>
                  <spanp class="dessert-ingredients" style="text-align: right;">،</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.city}}</span>
                  <spanp class="dessert-ingredients" style="text-align: right;">،</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.street}}</span>
                  <spanp class="dessert-ingredients" style="text-align: right;">،</span>
                  <span class="dessert-ingredients" style="text-align: right;">{{personnel.alley}}</span>


                </div>
              </div>
              {% if not forloop.last %}
              <hr class="dessert-horizontal-rule">
              {% endif %}
              <br><br>
            {% endfor %}
          {% else %}
              <p style="text-align: center">
                هیچ پرسنلی در این شعبه کار نمی کند
              </p>
          {% endif %}
          <!--pagination-->
      <div class="row">
        <div class="col-md-12">
          {% if personnels.has_other_pages %}
            <ul class="pagination">
              {% if personnels.has_previous %}
                <li class="page-item">
                  <a href="?page={{personnels.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in personnels.paginator.page_range %}
                {% if personnels.number == i  %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link ">{{i}}</a>
                  </li>
                {%endif%}
              {% endfor %}
              {% if personnels.has_next %}
                <li class="page-item">
                  <a href="?page={{personnels.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
      </div>
      </div>
    </main>


{% endblock content %}