{% extends 'base.html' %}

{% block content %}

    <main>


      {% include 'partials/_alerts.html' %}
      <!-- REGISTER FORM -->
      <div class="container-fluid reservations-form dark-overlay">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          srcset="
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_320/v1536179526/website-template-3/cover-reservations.jpg 320w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_517/v1536179526/website-template-3/cover-reservations.jpg 517w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_684/v1536179526/website-template-3/cover-reservations.jpg 684w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_836/v1536179526/website-template-3/cover-reservations.jpg 836w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_963/v1536179526/website-template-3/cover-reservations.jpg 963w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1094/v1536179526/website-template-3/cover-reservations.jpg 1094w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1230/v1536179526/website-template-3/cover-reservations.jpg 1230w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1356/v1536179526/website-template-3/cover-reservations.jpg 1356w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1463/v1536179526/website-template-3/cover-reservations.jpg 1463w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1571/v1536179526/website-template-3/cover-reservations.jpg 1571w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1681/v1536179526/website-template-3/cover-reservations.jpg 1681w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1785/v1536179526/website-template-3/cover-reservations.jpg 1785w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1898/v1536179526/website-template-3/cover-reservations.jpg 1898w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1992/v1536179526/website-template-3/cover-reservations.jpg 1992w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2096/v1536179526/website-template-3/cover-reservations.jpg 2096w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2197/v1536179526/website-template-3/cover-reservations.jpg 2197w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2281/v1536179526/website-template-3/cover-reservations.jpg 2281w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2371/v1536179526/website-template-3/cover-reservations.jpg 2371w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2463/v1536179526/website-template-3/cover-reservations.jpg 2463w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2553/v1536179526/website-template-3/cover-reservations.jpg 2553w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2560/v1536179526/website-template-3/cover-reservations.jpg 2560w"
          src="https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2560/v1536179526/website-template-3/cover-reservations.jpg"
          alt=""
          class="reservations-form-bg">
        <form action="{% url 'register-order-by-manager' %}" method="POST">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="food">غذا</label>
              <select name="food" class="form-control" required>
                {% if foods %}
                  {% for food in foods %}
                    <option value="{{food.pk}}">{{food.name}}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="personnel">گارسون</label>
              <select name="personnel" class="form-control" required>
                {% if personnels %}
                  {% for personnel in personnels %}
                    <option value="{{personnel.personnel_code}}">{{personnel.user.first_name}} {{personnel.user.last_name}}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="tables">میز</label>
              <select name="table" class="form-control" required>
                {% if tables %}
                  {% for table in tables %}
                    <option value="{{table.pk}}">{{table.pk}}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <div class=" form-row">
            <div class="form-group col-md-12">
                <label for="count">تعداد</label>
                <input type="number" class="form-control" name="count" required>
              </div>
          </div>
          <div class="form-group">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-light">ثبت </button>  
          </div>
        </form>
      </div>
    </main>

{% endblock content %}