{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>

      <!-- FOOD: JUMBOTRON -->
      {% include 'partials/_alerts.html' %}
      <div class="jumbotron food-jumbotron dark-overlay text-white">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          src="{% static 'img/order/brooke-lark-1Rm9GLHV0UA-unsplash.jpg' %}"
          alt=""
          class="food-jumbotron-bg">
        <div class="food-jumbotron-caption container">
          <h1 id="title-1" class="special-title-2"></h1>
          <div id="menu-icons">

          </div>
        </div>
      </div>

  {% if store_branch %}
      {% for sb in store_branch %}
    <div class="food-descriptions container">
        <h2 class="banner">انبار شماره  {{sb.store.store_code}}</h2>
        <br><br>
        <div style="direction: rtl;"> 
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">نام محصول</th>
                <th scope="col">مقدار محصول</th>
                <th scope="col">وضعیت موجودی</th>
              </tr>
            </thead>
            <tbody>
              {% for i in store_product %}
               {% if i.store_code == sb.store.store_code %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{i.product}}</td>
                  <td>  {{i.amount}} کیلوگرم</td>
                  {% if i.exists %}
                    <td>موجود</td>
                  {% else %}
                    <td>ناموجود</td>
                  {% endif %}
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          
          <br>
      </div>
    </div>
    {% endfor %}
  {% endif %}
    </main>

{% endblock content %}