{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block content %}

    <main id="top">
      <!-- FOOD: JUMBOTRON -->
      <div class="jumbotron food-jumbotron dark-overlay text-white">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          src="{% static 'img/order/olenka-kotyk-iRguZkRTQyA-unsplash.jpg' %}"
          alt=""
          class="food-jumbotron-bg">
        {% include 'partials/_alerts.html' %}
        <div class="food-jumbotron-caption container">
          <h1 id="title-1" class="special-title-2">Foods</h1>
          <div id="menu-icons">
            <div class="row">
              <div class="col-3">
                <a href="#breakfasts" data-toggle="tooltip" class="smooth-scroll" title="صبحانه">
                  <img class="menu-icon" src="{% static 'img/order/icon/breakfasts.svg' %}" alt="صبحانه">
                </a>
              </div>
              <div class="col-3">
                <a href="#burgers" data-toggle="tooltip" class="smooth-scroll" title="برگر">
                  <img class="menu-icon" src="{% static 'img/order/icon/burgers.svg' %}" alt="برگر ">
                </a>
              </div>
              <div class="col-3">
                <a href="#kebabs" data-toggle="tooltip" class="smooth-scroll" title="کباب">
                  <img class="menu-icon" src="{% static 'img/order/icon/from-the-grill.svg' %}" alt="کباب">
                </a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-3">
                <a href="#gippos" data-toggle="tooltip" class="smooth-scroll" title="خورش">
                  <img class="menu-icon" src="{% static 'img/order/icon/pies.svg' %}" alt="خورش">
                </a>
              </div> 
              <div class="col-3">
                <a href="#pizzas" data-toggle="tooltip" class="smooth-scroll" title="پیتزا">
                  <img class="menu-icon" src="{% static 'img/order/icon/pizzas.svg' %}" alt="پیتزا">
                </a>
              </div>
              <div class="col-3">
                <a href="#salads" data-toggle="tooltip" class="smooth-scroll" title="سالاد">
                  <img class="menu-icon" src="{% static 'img/order/icon/salads.svg' %}" alt="سالاد">
                </a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-3">
                <a href="#seafood" data-toggle="tooltip" class="smooth-scroll" title="غذای دریایی">
                  <img class="menu-icon" src="{% static 'img/order/icon/seafood.svg' %}" alt="غذای دریایی">
                </a>
              </div>
              <div class="col-3">
                <a href="#traditionals" data-toggle="tooltip" class="smooth-scroll" title="غدای محلی">
                  <img class="menu-icon" src="{% static 'img/order/icon/specials.svg' %}" alt="غذای سنتی">
                </a>
              </div>
              <div class="col-3">
                <a href="#starters" data-toggle="tooltip" class="smooth-scroll" title="پیش غذا">
                  <img class="menu-icon" src="{% static 'img/order/icon/starters.svg' %}" alt="پیش غذا">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOD: DESCRIPTIONS -->
      <div class="food-descriptions container">
        
      <!-- BREAKFASTS -->
      {% if foods %}
          {% for food in foods %}
            {% if food.category == 'breakfasts' %}
            <div id="breakfasts" class="food-category">
              {% if not forloop.first %}
                <hr class="food-horizontal-rule">
              {% endif %}
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 food-image">
                  <img 
                    data-src="{{food.image.url}}"
                    alt="Breakfast"
                    class="rounded-circle lazyload">
                    <form action="{% url 'order' branch.branch_code %}" method="POST">
                      <div class="form-group col-md-5">
                        <label for="inputNumber"> </label>
                        <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                      </div>
                      <div style="text-align-last: center; height: 50px;" >
                        <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                        <input type="hidden" name="food_id" value="{{food.pk}}">      
                    </div>
                    </form>
                    
                </div>
                <div class="col-md-9"> 
                  <h3 class="food-title">
                    <span class="food-price"> {{food.price | intcomma}}   تومان</span>
                    <span class="food-name float-right" >{{food.name}}</span>
                  </h3>
                  <p class="food-ingredients" style="text-align: right;"> 
                    {{food.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      <!-- BURGERS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'burgers' %}
            <div id="burgers" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Burger"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}  تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- KEBABS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'kebabs' %}
          <div id="kebabs" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Flavour of Cyprus"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}   تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- GIPPOS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'gippos' %}
          <div id="gippos" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="From the grill"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}  تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- TRADITIONALS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'traditionals' %}
          <div id="traditionals" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Pasta"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}   تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- PIZZAS -->
      {% if foods %}
          {% for food in foods %}
            {% if food.category == 'pizzas' %}
            <div id="pizzas" class="food-category">
          <hr class="food-horizontal-rule">
          <div class="row align-items-center menu-item" style="direction: rtl;">
            <div class="col-md-3 food-image">
              <img 
                data-src="{{food.image.url}}"
                alt="Pizza"
                class="rounded-circle lazyload">
                <form action="{% url 'order' branch.branch_code %}" method="POST">
                  <div class="form-group col-md-5">
                    <label for="inputNumber"> </label>
                    <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                  </div>
                  <div style="text-align-last: center; height: 50px;" >
                    <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                    <input type="hidden" name="food_id" value="{{food.pk}}">      
                </div>
                </form>
            </div>
            <div class="col-md-9">
              <h3 class="food-title">
                <span class="food-price">{{food.price | intcomma}} تومان</span>
                <span class="food-name float-right">{{food.name}}</span>
              </h3>
              <p class="food-ingredients" style="text-align: right;">
                {{food.description}}
              </p>
            </div>
          </div>
        </div>
            {% endif %}
          {% endfor %}
      {% endif %}

        <!-- SALADS -->
        {% if foods %}
          {% for food in foods %}
            {% if food.category == 'salads' %}
            <div id="salads" class="food-category">
              <hr class="food-horizontal-rule">
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 food-image">
                  <img 
                    data-src="{{food.image.url}}"
                    alt="Salad"
                    class="rounded-circle lazyload">
                    <form action="{% url 'order' branch.branch_code %}" method="POST">
                      <div class="form-group col-md-5">
                        <label for="inputNumber"> </label>
                        <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                      </div>
                      <div style="text-align-last: center; height: 50px;" >
                        <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                        <input type="hidden" name="food_id" value="{{food.pk}}">      
                    </div>
                    </form>
                </div>
                <div class="col-md-9">
                  <h3 class="food-title">
                    <span class="food-price">{{food.price | intcomma}}  تومان</span>
                    <span class="food-name float-right">{{food.name}}</span>
                  </h3>
                  <p class="food-ingredients" style="text-align: right;">
                    {{food.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}


        <!-- SEAFOOD -->
      {% if foods %}  
          {% for food in foods %}
            {% if food.category == 'seafoods' %}
            <div id="seafood" class="food-category">
              <hr class="food-horizontal-rule">
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 food-image">
                  <img 
                    data-src="{{food.image.url}}"
                    alt="Seafood"
                    class="rounded-circle lazyload">
                    <form action="{% url 'order' branch.branch_code %}" method="POST">
                      <div class="form-group col-md-5">
                        <label for="inputNumber"> </label>
                        <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                      </div>
                      <div style="text-align-last: center; height: 50px;" >
                        <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                        <input type="hidden" name="food_id" value="{{food.pk}}">      
                    </div>
                    </form>
                </div>
                <div class="col-md-9">
                  <h3 class="food-title">
                    <span class="food-price">{{food.price | intcomma}}  تومان</span>
                    <span class="food-name float-right">{{food.name}}</span>
                  </h3>
                  <p class="food-ingredients" style="text-align: right;"> 
                   {{food.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
      {% endif %}

        <!-- STARTERS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'starters' %}
          <div id="starters" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Starter"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}  تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
          
      </div>  
    </main>

    <a id="back-to-top" class="back-to-top smooth-scroll" href="#top">
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>

{% endblock content %}
