{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <main>
      <!-- FOOD: JUMBOTRON -->
      <div class="jumbotron food-jumbotron dark-overlay text-white">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          srcset="
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_320/v1536008489/website-template-3/cover-food-menu.jpg 320w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_492/v1536008489/website-template-3/cover-food-menu.jpg 492w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_627/v1536008489/website-template-3/cover-food-menu.jpg 627w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_743/v1536008489/website-template-3/cover-food-menu.jpg 743w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_853/v1536008489/website-template-3/cover-food-menu.jpg 853w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_953/v1536008489/website-template-3/cover-food-menu.jpg 953w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1040/v1536008489/website-template-3/cover-food-menu.jpg 1040w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1120/v1536008489/website-template-3/cover-food-menu.jpg 1120w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1196/v1536008489/website-template-3/cover-food-menu.jpg 1196w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1273/v1536008489/website-template-3/cover-food-menu.jpg 1273w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1348/v1536008489/website-template-3/cover-food-menu.jpg 1348w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1416/v1536008489/website-template-3/cover-food-menu.jpg 1416w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1483/v1536008489/website-template-3/cover-food-menu.jpg 1483w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1543/v1536008489/website-template-3/cover-food-menu.jpg 1543w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1603/v1536008489/website-template-3/cover-food-menu.jpg 1603w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1665/v1536008489/website-template-3/cover-food-menu.jpg 1665w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1727/v1536008489/website-template-3/cover-food-menu.jpg 1727w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1787/v1536008489/website-template-3/cover-food-menu.jpg 1787w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1847/v1536008489/website-template-3/cover-food-menu.jpg 1847w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1900/v1536008489/website-template-3/cover-food-menu.jpg 1900w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_1947/v1536008489/website-template-3/cover-food-menu.jpg 1947w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2001/v1536008489/website-template-3/cover-food-menu.jpg 2001w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2051/v1536008489/website-template-3/cover-food-menu.jpg 2051w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2104/v1536008489/website-template-3/cover-food-menu.jpg 2104w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2157/v1536008489/website-template-3/cover-food-menu.jpg 2157w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2203/v1536008489/website-template-3/cover-food-menu.jpg 2203w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2251/v1536008489/website-template-3/cover-food-menu.jpg 2251w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2299/v1536008489/website-template-3/cover-food-menu.jpg 2299w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2343/v1536008489/website-template-3/cover-food-menu.jpg 2343w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2389/v1536008489/website-template-3/cover-food-menu.jpg 2389w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2439/v1536008489/website-template-3/cover-food-menu.jpg 2439w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2486/v1536008489/website-template-3/cover-food-menu.jpg 2486w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2526/v1536008489/website-template-3/cover-food-menu.jpg 2526w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2558/v1536008489/website-template-3/cover-food-menu.jpg 2558w,
            https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2560/v1536008489/website-template-3/cover-food-menu.jpg 2560w"
          src="https://res.cloudinary.com/pictureelement/image/upload/q_auto,f_auto,c_scale,w_2560/v1536008489/website-template-3/cover-food-menu.jpg"
          alt=""
          class="food-jumbotron-bg">
        {% include 'partials/_alerts.html' %}
        <div class="food-jumbotron-caption container">
          <h1 id="title-1" class="special-title-2">Foods</h1>
          <div id="menu-icons">
            <div class="row">
              <div class="col-3">
                <a href="#breakfasts" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/breakfasts.svg" alt="صبحانه"></a>
              </div>
              <div class="col-3">
                <a href="#burgers" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/burgers.svg" alt="برگر "></a>
              </div>
              <div class="col-3">
                <a href="#kebabs" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/flavours-of-cyprus.svg" alt="کباب"></a>
              </div>
                       
            </div>
            <div class="row mt-5">
              <div class="col-3">
                <a href="#gippos" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/from-the-grill.svg" alt="خورش"></a>
              </div> 
              <div class="col-3">
                <a href="#pizzas" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/pizzas.svg" alt="پیتزا"></a>
              </div>
              <div class="col-3">
                <a href="#salads" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/salads.svg" alt="سالاد"></a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-3">
                <a href="#seafood" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/seafood.svg" alt="غذای دریایی"></a>
              </div>
              <div class="col-3">
                <a href="#traditionals" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/specials.svg" alt="غذای سنتی"></a>
              </div>
              <div class="col-3">
                <a href="#starters" class="smooth-scroll"><img class="menu-icon" src="../media/menu/food/icons/starters.svg" alt="پیش غذا"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOD: DESCRIPTIONS -->
      <div class="food-descriptions container">
        
      <!-- BREAKFASTS -->
      {% if foods %}
          {% for food in foods %}
            {% if food.category == 'breakfasts' %}
            <div id="breakfasts" class="food-category">
              <hr class="food-horizontal-rule">
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 food-image">
                  <img 
                    data-src="{{food.image.url}}"
                    alt="Breakfast"
                    class="rounded-circle lazyload">
                    <form action="{% url 'order' branch.branch_code %}" method="POST">
                      <div class="form-group col-md-5">
                        <label for="inputNumber"> </label>
                        <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                      </div>
                      <div style="text-align-last: center; height: 50px;" >
                        <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                        <input type="hidden" name="food_id" value="{{food.pk}}">      
                    </div>
                    </form>
                    
                </div>
                <div class="col-md-9"> 
                  <h3 class="food-title">
                    <span class="food-price"> {{food.price | intcomma}}   تومان</span>
                    <span class="food-name float-right" >{{food.name}}</span>
                  </h3>
                  <p class="food-ingredients" style="text-align: right;"> 
                    {{food.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      <!-- BURGERS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'burgers' %}
            <div id="burgers" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Burger"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}  تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- KEBABS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'kebabs' %}
          <div id="kebabs" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Flavour of Cyprus"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}   تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- GIPPOS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'gippos' %}
          <div id="gippos" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="From the grill"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}  تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- TRADITIONALS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'traditionals' %}
          <div id="traditionals" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Pasta"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}   تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <!-- PIZZAS -->
      {% if foods %}
          {% for food in foods %}
            {% if food.category == 'pizzas' %}
            <div id="pizzas" class="food-category">
          <hr class="food-horizontal-rule">
          <div class="row align-items-center menu-item" style="direction: rtl;">
            <div class="col-md-3 food-image">
              <img 
                data-src="{{food.image.url}}"
                alt="Pizza"
                class="rounded-circle lazyload">
                <form action="{% url 'order' branch.branch_code %}" method="POST">
                  <div class="form-group col-md-5">
                    <label for="inputNumber"> </label>
                    <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                  </div>
                  <div style="text-align-last: center; height: 50px;" >
                    <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                    <input type="hidden" name="food_id" value="{{food.pk}}">      
                </div>
                </form>
            </div>
            <div class="col-md-9">
              <h3 class="food-title">
                <span class="food-price">{{food.price | intcomma}} تومان</span>
                <span class="food-name float-right">{{food.name}}</span>
              </h3>
              <p class="food-ingredients" style="text-align: right;">
                {{food.description}}
              </p>
            </div>
          </div>
        </div>
            {% endif %}
          {% endfor %}
      {% endif %}

        <!-- SALADS -->
        {% if foods %}
          {% for food in foods %}
            {% if food.category == 'salads' %}
            <div id="salads" class="food-category">
              <hr class="food-horizontal-rule">
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 food-image">
                  <img 
                    data-src="{{food.image.url}}"
                    alt="Salad"
                    class="rounded-circle lazyload">
                    <form action="{% url 'order' branch.branch_code %}" method="POST">
                      <div class="form-group col-md-5">
                        <label for="inputNumber"> </label>
                        <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                      </div>
                      <div style="text-align-last: center; height: 50px;" >
                        <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                        <input type="hidden" name="food_id" value="{{food.pk}}">      
                    </div>
                    </form>
                </div>
                <div class="col-md-9">
                  <h3 class="food-title">
                    <span class="food-price">{{food.price | intcomma}}  تومان</span>
                    <span class="food-name float-right">{{food.name}}</span>
                  </h3>
                  <p class="food-ingredients" style="text-align: right;">
                    {{food.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}


        <!-- SEAFOOD -->
      {% if foods %}  
          {% for food in foods %}
            {% if food.category == 'seafoods' %}
            <div id="seafood" class="food-category">
              <hr class="food-horizontal-rule">
              <div class="row align-items-center menu-item" style="direction: rtl;">
                <div class="col-md-3 food-image">
                  <img 
                    data-src="{{food.image.url}}"
                    alt="Seafood"
                    class="rounded-circle lazyload">
                    <form action="{% url 'order' branch.branch_code %}" method="POST">
                      <div class="form-group col-md-5">
                        <label for="inputNumber"> </label>
                        <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                      </div>
                      <div style="text-align-last: center; height: 50px;" >
                        <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                        <input type="hidden" name="food_id" value="{{food.pk}}">      
                    </div>
                    </form>
                </div>
                <div class="col-md-9">
                  <h3 class="food-title">
                    <span class="food-price">{{food.price | intcomma}}  تومان</span>
                    <span class="food-name float-right">{{food.name}}</span>
                  </h3>
                  <p class="food-ingredients" style="text-align: right;"> 
                   {{food.description}}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
      {% endif %}

        <!-- STARTERS -->
      {% if foods %}
        {% for food in foods %}
          {% if food.category == 'starters' %}
          <div id="starters" class="food-category">
            <hr class="food-horizontal-rule">
            <div class="row align-items-center menu-item" style="direction: rtl;">
              <div class="col-md-3 food-image">
                <img 
                  data-src="{{food.image.url}}"
                  alt="Starter"
                  class="rounded-circle lazyload">
                  <form action="{% url 'order' branch.branch_code %}" method="POST">
                    <div class="form-group col-md-5">
                      <label for="inputNumber"> </label>
                      <input type="number" name="count" min="0" class="form-control" id="inputNumber" placeholder="تعداد" style="margin-right:2cm;" required>
                    </div>
                    <div style="text-align-last: center; height: 50px;" >
                      <input type="submit" value="افزودن به سبد خرید" class="btn btn-outline-dark"  >  
                      <input type="hidden" name="food_id" value="{{food.pk}}">      
                  </div>
                  </form>
              </div>
              <div class="col-md-9">
                <h3 class="food-title">
                  <span class="food-price">{{food.price | intcomma}}  تومان</span>
                  <span class="food-name float-right">{{food.name}}</span>
                </h3>
                <p class="food-ingredients" style="text-align: right;">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
          
      </div>  
    </main>

    <a id="back-to-top" class="back-to-top smooth-scroll" href="#top">
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>

{% endblock content %}
